:root {
  --grey:rgb(226, 217, 205);
}
body {
  background-color: rgb(226, 217, 205);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#display {
  margin: 10px auto 5px ;
  min-height: 35px;
  width: 300px;
  background-color: rgba(214, 221, 228, 0.603);
  text-align: right;
  font-size: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 1.5px 5px 0 rgba(0,0,0,0.19);
  word-wrap: break-word;
}
section {
  text-align: center;  
  background-color: white;
  border-radius: 5px;
  width: 350px;
  margin: 0 auto;
  padding: 4px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 #00000030;
}

button {
  border: none;
  border-radius: 10%;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 1.5px 5px 0 rgba(0,0,0,0.19);
  background-color: rgb(207, 208, 209);
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin: 6px 2px 3px 0;
  width: 70px;
  height: 40px;
}

button:hover {
  background-color: rgb(233, 233, 233);
}

#num {
  background-color: rgb(179, 179, 180);
}

#num:hover {
  background-color: rgb(207, 207, 209);
}

#back {
  width: 200px;
  border-radius: 10px;
}

#total {
  height: 40px;
  width: 300px;
  background-color: rgb(97, 97, 99);
  border-radius: 5px;
  margin: 10px;
  color: white;
}

#total:hover {
  background-color: rgb(134, 134, 134);
}

.par {
  width: 31px;
}

@media all and (max-width:400px) {
  section {
    width: 73vw;
  }
  #display {
    width: 60vw;
    font-size: 8vw;
    height: 10vw;
  }
  button {
    width: 14vw;
    height: 12vw;
    font-size: 5vw;
    margin: 1vw -0.2vw;
    text-align: center;
  }
  .par {
    width: 6vw;
  }
  #total {
    width: 60vw;
    height: 10vw;
  }
}